.content {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .formContainer {
      margin: 1em;
      padding: 5em;
      width: 15vw;
      border-radius: 35%;
      background-color: rgb(50, 143, 180);
      width: 30vw;
    }
  }
  
  
  .displayContainer{
    width: 20vw;
    flex-direction: row;
  }
  .App {
    background-color: rgb(190, 199, 223);
  }